body {
    width: 100%;
    margin: 0;
}
/*header*/
header {
    width: 100%;
    height: 60px;
    background-color: #449be2;
    display: flex;
}
#searchForm {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
}
#search,
#cityInput {
    height: 40px;
    margin-top: 6px;
}
#search {
    margin-top: 15px;
    font-size: 32px;
    color: white;
}
#cityInput {
    width: 500px;
    border-radius: 20px;
    margin-right: 15px;
}

/*Main*/
main {
    margin-left: 24%;
    width: 900px;
}
#current {
    width: 800px;
    height: 300px;
    border: solid 1px black;
    margin-right: 70px;
    padding-left: 15px;
}
#currentCity {
    font-size: 29px;
    margin: 0;
}
#currentTemp {
    font-size: 27px;
}
#feelsLike {
    font-size: 14px;
}
#curAndHour {
    display: flex;
    height: 200px;
    margin-bottom: 150px;
}
#hourAndInfo {
    display: flex;
    flex-direction: column;
    height: 350px;
}
#tempNow {
    width: 200px;
    height: 300px;
    background-color: gray;
}
#week {
    display: flex;
}
#hourly {
    width: 600px;
    display: flex;
    overflow-x: scroll;
}
.hour {
    margin-right: 15px;
}

#hourInfo {
    display: flex;
}
