body {
    width: 100%;
    margin: 0;
}
/*header*/
header {
    width: 100%;
    height: 60px;
    background-color: #449be2;
    display: flex;
}
#searchForm {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
}
#search,
#cityInput {
    height: 40px;
    margin-top: 6px;
}
#search {
    margin-top: 15px;
    font-size: 32px;
    color: white;
}
#cityInput {
    width: 500px;
    border-radius: 20px;
    margin-right: 15px;
}

/*Main*/
#tempNow {
    width: 200px;
    height: 300px;
    background-color: gray;
}
#week {
    display: flex;
}
#hourly {
    display: flex;
}
.hour {
    margin-right: 15px;
}
